{% extends 'layout.twig' %}

{% block body %}
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>

    <table id="table_id" class="display">
        <thead>
        <tr>
            <th>Domain</th>
            <th>Position</th>
            <th>query</th>
            <th>title</th>
            <th>href</th>
        </tr>
        </thead>
        <tbody>
        {% for key,items in data %}

            {% for item in items %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ item.position }}</td>
                    <td>{{ item.query }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.href }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
